h1 {
	font-family: Kalam;
	margin-left: 1.66%;
	font-size: 40px;
	border-bottom: 2px solid #EEDDCC;
	width: 30%;
	padding-bottom: 0px;
}

.image {
	height:200px;
	width: 30%;
	float: left;
	margin: 1.66%;
	background-size: cover;
	background-position: center center;
}

.image1 {
	background-image: url(https://cdn.pixabay.com/photo/2016/10/25/13/42/indian-1768906_960_720.jpg);
}
.image2 {
	background-image: url(https://storage.needpix.com/rsynced_images/veggie-ball-2523065_1280.jpg);
}
.image3 {
	background-image: url(https://storage.needpix.com/rsynced_images/vegetarian-dishes-328917_1280.jpg);
}
.image4 {
	background-image: url(https://cdn.pixabay.com/photo/2017/09/09/12/09/india-2731812_960_720.jpg);
}
.image5 {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Vegan_Indian_food_%28348299737%29.jpg/640px-Vegan_Indian_food_%28348299737%29.jpg);
}
.image6 {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Indian_cuisine-Chaat-Bhelpuri-03.jpg/1024px-Indian_cuisine-Chaat-Bhelpuri-03.jpg);
}
.image7 {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/2_Chapati_warm_and_ready_to_be_eaten.jpg/1024px-2_Chapati_warm_and_ready_to_be_eaten.jpg);
}
.image8 {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Bundi_Laddu.JPG/1024px-Bundi_Laddu.JPG);
}
.image9 {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Pulihara.JPG/1024px-Pulihara.JPG);
}
.image10 {
	background-image: url(https://cdn.pixabay.com/photo/2019/05/01/15/04/indian-4171081_960_720.jpg);
}
.image11 {
	background-image: url(http://opencage.info/pics/files/800_14021.jpg);
}
.image12 {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/65/Dhokla_on_Gujrart.jpg);
}
